*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5cfc3;
    height: 100vh;
}
#calculator{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    /* justify-content: center;
    align-items: center; */
    /* position: relative; */
    background-color: rgb(18, 18, 18);
    box-shadow: 5px 5px 20px black;
    border-radius: 8px;
}
.screen input{
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
    text-align: right;
    font-size: 3rem;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid rgb(36, 26, 26);
    pointer-events: none;
    box-shadow: 1px 1px 6px grey;
}

button{
    width: 80px;
    height: 70px;
    margin: 5px;
    border-radius: 7px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 1px 1px 6px white;
    transition: 300ms;
}
.btn{
    font-size: 1.5rem;
    font-weight: 700;
}
.buton{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;

}
button:hover{
    background-color: rgb(223, 216, 206);
}
.clear{
    background-color: red;
    box-shadow: 1px 1px 6px red;
}
.clear:hover{
    background-color: rgb(252, 46, 46);
}
.equal{
    background-color: rgb(28, 251, 28);
    box-shadow: 1px 1px 6px rgb(113, 248, 113);
}
.equal:hover{
    background-color: rgb(65, 248, 65);
}
.opret-btn{
    background-color: yellow;
}
@media only screen and (max-width:430px){

    #calculator{
        width: 90%;
    }
    button{
        width: 70px;
        height: 60px;
    }

}
@media only screen and (max-width:329px){
    button{
        width: 50px;
        height: 40px;
    }
    .buton{
        margin-top: 20px;
    }
}

